.about-images {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 40px;
}

.about-images-item {
   width: 60px;
}

.about-images-text {
   font-size: 10px;
   margin-top: 0px;
}

.about-section {
   margin: 40px;
   text-align: justify;
   white-space: pre-line;
}

.about-section-images {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
}

.about-profile {
   display: flex;
   justify-content: center;
   margin: 60px;
}

.about-profile-img {
   background-size: cover;
   border: 3px solid;
   border-radius: 50%;
   height: 150px;
   width: 150px;
}