.about-images1, .about-images2 {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   height: 60px;
   width: 100%;
}

.about-images1 {
   background-image: url('../../assets/about1mob.svg');
   height: 150px;
}

.about-images2 {
   background-image: url('../../assets/about2mob.svg');
   height: 80px;
}

.about-content {
   margin: 0 40px;
}

.about-section {
   text-align: justify;
   white-space: pre-line;
}

.about-profile {
   margin: 60px;
}

.about-profile-img-wrapper {
   border-bottom: 3px solid;
   padding-bottom: 10px;
}

.about-profile-img-src {
   background-image: url('../../assets/testProfile.png');
   background-size: cover;
   border: 3px solid;
   border-radius: 50%;
   height: 150px;
   margin: auto;
   width: 150px;
}

.about-profile-name {
   font-size: 26px;
   font-weight: lighter;
   margin-bottom: 0;
}


.about-profile-profession {
   color: #e6add5;
   margin-top: 0;
}

.about-profile-description {
   text-align: justify;
}

.about-philosophy {
   margin: 40px;
   margin-bottom: 15vh;
}

.about-philosophy-title {
   border-bottom: 3px solid;
   font-weight: lighter;
}

.about-philosophy-description {
   text-align: justify;
   margin-top: 40px;
   white-space: pre-line;
}

@media (min-width: 700px) {
   .about-view {
      font-size: 24px;
   }

   .about {
      display: flex;
      margin: 0 60px;
   }

   .about-images1, .about-images2 {
      background-position: initial;
      background-size: contain;
   }

   .about-images1 {
      background-image: url('../../assets/about1std.svg');
      height: 80px;
   }
   
   .about-images2 {
      background-image: url('../../assets/about2std.svg');
      background-size: contain;
      height: 55px;
   }

   .about-profile {
      margin: 40px 40px 0 0;
   }

   .about-profile-img-src {
      height: 180px;
      width: 180px;
   }

   .about-philosophy {
      margin: 40px 100px 150px;
   }

   .about-philosophy-title {
      margin: auto;
      width: 30%;
   }
}

@media (min-width: 1200px) {
   .about-images2 {
      height: 70px;
   }
}