.services {
   margin-bottom: 15vh;
}

.services-image {
   border-bottom: 3px solid;
   width: 60%;
}

.services-wrapper {
   display: flex;
   flex-flow: column;
   justify-content: center;
   margin: 40px;
}

.services-item {
   padding: 30px;
   width: auto;
}

.services-item-text {
   text-align: justify;
}

.services-button {
   display: flex;
   justify-content: center;
   padding: 4px;
}

.services-button-text {
   font-size: 20px;
   margin: 0;
}

@media (max-width: 350px) {
   .services-item {
      padding: 20px 15px; 
   }
} 

@media (min-width: 660px) and (max-width: 1000px) {
   .services-item {
      width: 37%;
   }

   .services-wrapper {
      flex-flow: wrap;
   }

   .services-button-text {
      font-size: 20px;
   }
}

@media (min-width: 1000px) {
   .services {
      font-size: 15px;
   }

   .services-wrapper {
      flex-flow: wrap;
   }

   .services-item {
      width: 25%;
   }

   .services-button-text {
      font-size: 20px;
   }
}