.contact {
   height: 90vh;
}

.contact-margined {
   display: flex;
   flex-direction: column;
   padding: 150px 40px 0;
}

.contact-logo {
   margin: auto;
   width: 60%;
}

.contact-data {
   text-align: justify;
}

.contact-data-name {
   margin: auto;
   width: 100%;
}

.contact-data-info {
   align-items: center;
   display: flex;
}

.contact-data-info-icon {
   margin-right: 8px;
   width: 10%;
}

@media (min-width: 650px) {
   .contact {
      align-items: center;
      display: flex;
   }

   .contact-margined {
      flex-direction: row;
      padding: 0 10%;
   }

   .contact-logo {
      width: 40%;
   }

   .contact-data {
      margin-top: 60px;
   }
}