.contact {
   display: flex;
   flex-direction: column;
   height: 37vh;
   padding: 28vh 15vw;
}

.contact-logo {
   background-image: url('../../assets/contactNameMob.svg');
   background-repeat: no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
}

.contact-data {
   text-align: justify;
}

.contact-data-name {
   margin: auto;
   width: 100%;
}

.contact-data-info {
   align-items: center;
   display: flex;
}

.contact-data-info-icon {
   margin-right: 8px;
   width: 10%;
}

@media (min-width: 650px) {
   .contact {
      height: 50vh;
      padding: 21vh 15vw;
   }
   .contact-logo {
      background-image: url('../../assets/contactNameDkt.svg');
      background-position: center;
      height: 45%;
   }

   .contact-data {
      font-size: 19px;
      margin-left: 36%;
      margin-top: 30px;
   }
}