#root {
   font-family: 'KumbhSans-Light';
}

#home {
   display: flex;
   flex-direction: column;
   height: 80vh;
   justify-content: center;
   padding: 0 10%;
   margin-top: 10vh;
}

.home-service {
   color: white;
   margin: 5px 0;
}

.home-service-text {
   font-family: 'KumbhSans-Light';
   font-size: 24px;
   margin: 10px;
   padding: 0 20px;
   text-align: initial;
}

@media (max-width: 350px) {
   .home-service-text {
      font-size: 20px;
   }
}

@media (min-width: 700px) {
   #home {
      background-image: url('../../assets/logoBackground.svg');
      background-position: center;
      background-position-x: 60%;
      background-position-y: 25%;
      background-size: 1450px;
      padding: 0 30%;
   }

   .home-service {
      display: flex;
      padding-left: 10%;
   }

   .home-service-text {
      font-size: 28px;
   }
}
