.service {
   margin: 8vh 0 15vh 0;
}

.service .description-title-text {
   width: 100%;
}

.service .description-title-text img {
   width: 70px;
}

.service-sections {
   margin-top: 80px;
}

.service .contact {
   height: 40vh;
   padding: 4vh 12vw;
}

@media (min-width: 780px) {
   .service {
      font-size: 15px;
   }

   .service-content {
      padding: 0 19%;
   }

   .service-cases {
      display: flex;
      flex-direction: row;
   }

   .service .description-title-text {
      width: auto;
   }

   .service-members {
      display: flex;
      justify-content: center;
   }
}