
.description {
   margin: 0 40px;
   margin-top: 10vh;
}

.description-title {
   display: flex;
   justify-content: center;
}

.description-title-text {
   align-items: baseline;
   display: flex;
   font-size: 25px;
   font-weight: 300;
   justify-content: center;
   padding: 0;
   width: fit-content;
}

.description-text {
   text-align: justify;
}

@media (max-width: 340px) {
   .description-title-text {
      font-size: 25px;
   }
}

@media (min-width: 700px) {
   .description {
      margin: 0 100px;
      margin-top: 10vh;
   }

   .description-title-text {
      font-size: 35px;
      padding: 15px 10px;
   }
}