#header {
   align-items: center;
   background: #50007E;
   color: white;
   display: flex;
   flex-direction: row-reverse;
   height: 8vh;
   justify-content: space-between;
   position: fixed;
   top: 0;
   width: 100%;
}

.header-title {
   align-items: center;
   display: flex;
}

.header-title-arrow {
   display: none;
}

.header-main-menu-items {
   display: none;
}

.header-hamburger {
   filter: invert(1);
   margin: 20px;
}

.header-hamburger-menu {
   background-color: white;
   height: 92vh;
   left: 0;
   position: absolute;
   top: 8vh;
   width: 60vw;
}

.header-hamburger--primary-link {
   font-size: 22px;
   margin-left: 20px;
   padding-left: 5px;
   text-align: initial;
}

.header-hamburger--footer {
   bottom: 0;
   margin-left: 20px;
   position: absolute;
   text-align: initial;
}

.header-title-text {
   cursor: pointer;
   font-size: 20px;
   font-weight: 300;
   margin: 20px;
}

.header-links {
   display: none;
}

@media (min-width: 800px) {
   #header {
      color: white;
      flex-direction: initial;
      position: fixed;
      top: 0;
      width: 100%;
   }

   .header-title {
      margin-left: 40px;
   }
   
   .header-title-text {
      font-size: 28px;
      font-weight: normal;
   }

   .header-title-arrow {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
   }

   .header-main-menu-items {
      display: flex;
      flex-direction: row;
      padding: 0px 60px;
      position: absolute;
      text-align: initial;
      top: 8vh;
      width: 100vw;
   }

   .header-main-menu-item {
      color: white;
      font-size: 19px;
      padding: 15px 20px 15px 0px;
   }

   .header-hamburger {
      display: none;
   }
   
   .header-links {
      display: flex;
      font-size: 16px;
      margin-right: 40px;
   }
   
   .header-link-item {
      cursor: pointer;
      font-weight: normal;
      margin: 10px 20px;
      text-decoration: none;
   }
   
   .header-link-item:hover {
      text-decoration: underline;
   }
}

@media (min-width: 1500px) {
   .header-links {
      display: flex;
      font-size: 23px;
      padding-right: 20px;
   }
}