#header {
   align-items: center;
   background: #50007E;
   color: white;
   display: flex;
   flex-direction: row-reverse;
   height: 10vh;
   justify-content: space-between;
   padding: 0 15px;
}

.header-title {
   cursor: pointer;
   font-size: 20px;
   font-weight: 300;
}

.header-hamburger {
   filter: invert(1);
}

.header-links {
   display: none;
}


@media (min-width: 750px) {
   #header {
      color: white;
      flex-direction: initial;
      position: relative;
      top: 0;
      width: 100%;
   }
   
   .header-title {
      font-size: 28px;
      font-weight: normal;
      padding-left: 60px;
   }

   .header-hamburger {
      display: none;
   }
   
   .header-links {
      display: flex;
      padding-right: 20px;
   }
   
   .header-link-item {
      cursor: pointer;
      font-weight: normal;
      padding: 10px 20px;
   }
   
   .header-link-item:hover {
      text-decoration: underline;
   }
}