#header {
   align-items: center;
   background: black;
   color: white;
   display: flex;
   height: 10vh;
   justify-content: space-between;
   position: relative;
   top: 0;
   width: 100%;
}

.header-title {
   cursor: pointer;
   font-size: 28px;
   font-weight: normal;
   padding-left: 60px;
}

.header-links {
   display: flex;
   padding-right: 20px;
}

.header-link-item {
   cursor: pointer;
   font-weight: normal;
   padding: 10px 20px;
}

.header-link-item:hover {
   text-decoration: underline;
}