.member {
  margin: 30px 40px;
}

.mamber-image-wrapper {
   margin: 9% 20%;
}

.member-image {
   border: 3px solid;
   border-radius: 50%;
   max-width: 150px;
   width: 100%;
}

.member-name {
   border-top: 3px solid;
   font-size: 20px;
   font-weight: 300;
   margin: 0 13%;
   padding-top: 15px;
}

.member-profession {
   font-size: 16px;
   font-weight: 300;
   margin: 0;
}

@media (min-width: 700px) {
   .member {
      margin: 30px 40px;
    }
}