.section {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin: 10px 0px;
   padding: 0 40px;
}

.section-title {
   font-size: 20px;
   font-weight: 300;
}

.section-description {
   margin: 40px 40px;
   text-align: justify;
   white-space: pre-line;
}

@media (min-width: 700px) {
   .section {
      height: 65px;
      margin: 10px;
   }

   .section-title {
      font-size: 30px;
      margin-left: 15%;
   }

   .section-description {
      margin: 35px 100px;
   }
}